{
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": true,
	"singleQuote": true,
	"semi": true,
	"trailingComma": "all",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"singleAttributePerLine": true
}
